[Unit]
Description=%i gunicorn daemon
Requires=gunicorn@%i.socket
After=network.target

[Service]
Type=notify
User=hr
Group=hr
WorkingDirectory=/srv/hr/src/kata-hr-manager/python/
ExecStart=/srv/hr/.cache/pypoetry/virtualenvs/hr-db-manager-WJ7KSrl5-py3.9/bin/gunicorn app.wsgi --capture-output --log-file /var/log/hr/gunicorn-%i.log
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
Environment=DJANGO_DB_PATH=/srv/hr/data/%i.db
PrivateTmp=true

[Install]
WantedBy=multi-user.target

