- extends "hr/base.haml"

- block title
    Confirm Database deletion

- block contents

  %form(method="post")
    - csrf_token
    %p Are you sure you want to reset the database?
    %p This action cannot be undone
    %input.btn-danger(type="submit" value="Confirm")
