- extends "hr/base.haml"

- block title
    Confirm Employee deletion

- block contents

  %form(method="post")
    - csrf_token
    %p Are you sure you want to delete employee #{ employee.name }?
    %p This action cannot be undone
    %input.btn-danger(type="submit" value="Confirm")
